{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        .overlay {
            float: left;
            margin: 0em 3em 1em 0em;
        }
        .overlay .menu {
            position: relative;
            left: 0;
            transition: left 0.5s ease;
        }
        /*.overlay.fixed .menu {*/
            /*left: 800px;*/
        /*}*/
    </style>
{% endblock %}
{% block body %}
    <div class="ui fluid container">
        <div class="ui one column doubling stackable centered grid">
            <div class="sixteen wide mobile sixteen wide tablet fourteen wide computer column">
                <div class="ui center aligned segment">
                    <h3>
                    <i class="large teal server icon"></i>
                    {{ os.name }}
                    </h3>
                </div>
                <div class="ui doubling stackable grid">
                    <div class="sixteen wide mobile eight wide tablet four wide computer column">
                        <div class="ui attached yellow segment">
                            <div class="ui large yellow ribbon label"> <i class="large users icon"></i> Users & Groups</div>
                            <canvas id="UsersGroups"  height="200px"></canvas>
                        </div>
                    </div>
                    <div class="sixteen wide mobile eight wide tablet four wide computer column">
                        <div class="ui attached yellow segment">
                            <div class="ui large yellow ribbon label"><i class="large chart pie icon"></i> Services</div>
                            <canvas id="Services"  height="200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="ui four column centered grid blue attached segment">
                        {% set vendor = cpu.9|split(':', 2) %}
                            {% set model = cpu.12|split(':', 2) %}
                            {% set amount = cpu.3|split(':', 2) %}
                            {% set arch = cpu.0|split(':', 2) %}
                            {% set arch2 = cpu.1|split(':', 2) %}
                            {% set thread = cpu.5|split(':', 2) %}
                            {% set sockets = cpu.7|split(':', 2) %}
                            {% set csockets = cpu.6|split(':', 2) %}
                            {% set mhz = cpu.14|split(':', 2) %}
                            {% set maxmhz = cpu.15|split(':', 2) %}
                            {% set minmhz = cpu.16|split(':', 2) %}
                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                    <div class="ui huge blue ribbon label"><i class="large microchip icon"></i> CPU</div>
                                    <table class="ui inverted blue table">
                                        <thead>
                                        <tr><th>Type</th>
                                            <th>Value</th>
                                        </tr></thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ vendor.0 }}</td>
                                            <td>{{ vendor.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ model.0 }}</td>
                                            <td>{{ model.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ amount.0 }}</td>
                                            <td>{{ amount.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ arch.0 }}</td>
                                            <td>{{ arch.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ arch2.0 }}</td>
                                            <td>{{ arch2.1 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                <table class="ui blue table">
                                <thead>
                                <tr><th>Type</th>
                                    <th>Value</th>
                                </tr></thead>
                                <tbody>
                                <tr>
                                    <td>{{ thread.0 }}</td>
                                    <td>{{ thread.1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ sockets.0 }}</td>
                                    <td>{{ sockets.1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ csockets.0 }}</td>
                                    <td>{{ csockets.1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ mhz.0 }}</td>
                                    <td>{{ mhz.1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ maxmhz.0 }}</td>
                                    <td>{{ maxmhz.1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ minmhz.0 }}</td>
                                    <td>{{ minmhz.1 }}</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                <table class="ui blue table">
                                        <thead>
                                        <tr><th>Type</th>
                                            <th>Value</th>
                                        </tr></thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ thread.0 }}</td>
                                            <td>{{ thread.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ sockets.0 }}</td>
                                            <td>{{ sockets.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ csockets.0 }}</td>
                                            <td>{{ csockets.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ mhz.0 }}</td>
                                            <td>{{ mhz.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ maxmhz.0 }}</td>
                                            <td>{{ maxmhz.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ minmhz.0 }}</td>
                                            <td>{{ minmhz.1 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                <table class="ui blue table">
                                        <thead>
                                        <tr><th>Type</th>
                                            <th>Value</th>
                                        </tr></thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ thread.0 }}</td>
                                            <td>{{ thread.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ sockets.0 }}</td>
                                            <td>{{ sockets.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ csockets.0 }}</td>
                                            <td>{{ csockets.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ mhz.0 }}</td>
                                            <td>{{ mhz.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ maxmhz.0 }}</td>
                                            <td>{{ maxmhz.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ minmhz.0 }}</td>
                                            <td>{{ minmhz.1 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                </div>
                <div class="ui center aligned segment">
                    <h3>
                        <i class="large violet folder open icon"></i>
                        Files
                    </h3>
                </div>
                <div class="ui three column grid">
                    <div class="sixteen wide mobile eight wide tablet four wide computer column">
                        <div class="ui attached violet segment">
                            <div class="ui large violet ribbon label"> <i class="large file image icon"></i> Image Files</div>
                            <canvas id="Pictures"  height="400px"></canvas>
                        </div>
                    </div>
                    <div class="sixteen wide mobile eight wide tablet four wide computer column">
                        <div class="ui attached violet segment">
                            <div class="ui large violet ribbon label"> <i class="large file word icon"></i> Text Documents</div>
                            <canvas id="TextDocuments"  height="400px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="ui doubling stackable centered grid">
                    <div class="sixteen wide column">
                        <div class="ui attached teal segment">
                            <div class="ui huge teal ribbon label"><i class="large hdd icon"></i> Hard Disks</div>
                            <div class="ui list">
                                <a class="item">
                                    {% for disk in disks %}
                                        {% if disk.4 <= 50 %}
                                            {% set color = "teal" %}
                                        {% elseif disk.4 > 50 and disk.4 <= 80 %}
                                            {% set color = "orange" %}
                                        {% elseif disk.4 > 80 %}
                                            {% set color = "red" %}
                                        {% endif %}
                                        <div class="ui {{ color }} progress drives" data-value="{{ disk.2|trim('G') }}" data-total="{{ disk.1|trim('G') }}" id="example6">
                                            <div class="bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="label">{{ disk.5 }}</div>
                                        </div>
                                    {% endfor %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui center aligned segment">
                    <h3>
                        <i class="large red crosshairs icon"></i>
                        Security
                    </h3>
                </div>
                <div class="ui doubling stackable grid">
                    <div class="sixteen wide mobile eight wide tablet three wide computer column">
                        <div class="ui attached red segment">
                            <div class="ui large red ribbon label"><i class="large heartbeat icon"></i> Kernel</div>
                            <table class="ui table">
                                <thead>
                                <tr>
                                    <th>Installed Image(s)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kernel in kernels %}
                                    <tr>
                                        <td>{{ kernel }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="sixteen wide mobile eight wide tablet six wide computer column">
                        <div class="ui attached red segment">
                            <div class="ui large red ribbon label"><i class="large shield icon"></i> GUFW</div>
                            <table class="ui table">
                                <thead>
                                <tr>
                                    <th>{{ version.ufw.0 }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs.1 %}
                                    <tr>
                                        <td>{{ log }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="sixteen wide mobile eight wide tablet six wide computer column">
                        <div class="ui attached red segment">
                            <div class="ui large red ribbon label"><i class="large shield icon"></i> UFW</div>
                            <table class="ui celled table">
                                <thead>
                                <tr>
                                    <th>Last 5 entries of /var/log/ufw.Log</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs.0 %}
                                    <tr>
                                        <td>{{ log }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui center aligned segment">
                    <h3>
                        <i class="large blue archive icon"></i>
                        Packages
                    </h3>
                </div>
                <div class="ui doubling stackable centered grid">
                    <div class="five wide column">
                        <h3 class="ui  inverted top attached header">
                            <i class="large archive icon"></i> DPKG
                        </h3>
                        <div class="ui attached segment">
                            <table class="ui celled blue table">
                                <thead>
                                <tr>
                                    <th>{{ version.dpkg.0 }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs.2 %}
                                    <tr>
                                        <td>{{ log }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h3 class="ui  inverted top attached header">
                            <i class="large file code icon"></i> Binary Files
                        </h3>
                        <div class="ui attached segment">
                            <canvas id="Bin"  height="200px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var ctx = document.getElementById("UsersGroups").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Users", "Groups"],
                datasets: [{
                    label: 'registered',
                    data: [{{ TotalUsers }}, {{ TotalGroups }}],
                    backgroundColor: [
                        'rgba(0, 181, 173, 0.2)',
                        'rgba(251, 189, 8, 0.2)'

                    ],
                    borderColor: [
                        'rgba(0, 181, 173, 1)',
                        'rgba(251, 189, 8, 1)'

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var ctx2 = document.getElementById("Services").getContext('2d');
        var services = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ["{{ servicesActive }} Running", "{{ servicesDisabled }} Disabled"],
                datasets: [{
                    label: 'registered',
                    data: [{{ servicesActive }}, {{ servicesDisabled }}],
                    backgroundColor: [
                        'rgba(0, 181, 173, 0.7)',
                        'rgba(251, 189, 8, 0.7)'

                    ],
                    borderColor: [
                        'rgba(0, 181, 173, 1)',
                        'rgba(251, 189, 8, 1)'

                    ],
                    borderWidth: 1
                }]
            }
        });



        var ctx3 = document.getElementById("Bin").getContext('2d');
        var Bin = new Chart(ctx3, {
            type: 'doughnut',
            data: {
                labels: ["/usr/local/sbin/", "/usr/local/bin/", "/usr/bin/", "/usr/sbin/", "/sbin/", "/bin/"],
                datasets: [{
                    data: [{{ binary.0 }}, {{ binary.1 }}, {{ binary.2 }}, {{ binary.3 }}, {{ binary.4 }}, {{ binary.5 }}],
                    backgroundColor: [
                        'rgba(100, 53, 201, 0.7)',
                        'rgba(219, 40, 40, 0.7)',
                        'rgba(0, 181, 173, 0.7)',
                        'rgba(251, 189, 8, 0.7)',
                        'rgba(242, 113, 28, 0.7)',
                        'rgba(165, 103, 63, 0.7)',


                    ],
                    borderColor: [
                        'rgba(100, 53, 201, 1)',
                        'rgba(219, 40, 40, 1)',
                        'rgba(0, 181, 173, 1)',
                        'rgba(251, 189, 8, 1)',
                        'rgba(242, 113, 28, 1)',
                        'rgba(165, 103, 63, 1)'

                    ],
                    borderWidth: 1
                }]
            }
        });

        new FilesChart(
            "Pictures",
            ["jpg", "jpeg", "png", "gif", "psd", "svg"],
            [{{ filetypes.0.jpg }}, {{ filetypes.0.jpeg }}, {{ filetypes.0.png }}, {{ filetypes.0.gif }}, {{ filetypes.0.psd }},{{ filetypes.0.svg }}]
        );
        new FilesChart(
            "TextDocuments",
            ["odt", "ott", "fodt", "uot", "docx", "doc", "dot","pdf", "txt"],
            [{{ filetypes.1.odt }}, {{ filetypes.1.ott }}, {{ filetypes.1.fodt }}, {{ filetypes.1.uot }}, {{ filetypes.1.docx }},{{ filetypes.1.doc }},{{ filetypes.1.dot }},{{ filetypes.1.pdf }},{{ filetypes.1.txt }}],
        );

        $('.drives')
            .progress({
                label: 'ratio',
                text: {
                    ratio: '{value} GB of {total} GB'
                }
            })
        ;
    </script>
    <script>
        $(document)
            .ready(function() {

                $('.overlay').visibility({
                    type: 'fixed',
                    offset: 80
                });
                $('.ui.dropdown')
                    .dropdown()
                ;
            })
        ;
    </script>

{% endblock %}